body{
    background:rgb(6, 14, 126);
}
h1{
    color: orange;
    position: relative;
    left: 38%;
}
p{
    color: white;
    width: 30%;
    background: tomato;
    font-size: 30px;
    border-radius: 100px;
    position: relative;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 30px;
    background-color: teal;
    width: 10%;
    margin: auto;
    padding: 20px;
    border-radius: 100px;
    position: relative;
    left: 100px;
}
.B{
    position:relative;
    left: 500px;
    bottom: 170px;
}
.b{
    position: relative;
    left: 620px;
    bottom: 170px;
}
.C{
    position: relative;
    left:1000px ;
    bottom: 340px;
}
.c{
    position: relative;
    left: 1120px;
    bottom: 340px;
}